.main-menu
    height: calc(200vh - calc(10vh + 10vh))
    width: 100%

.banner
    height: 70vh
    width: 100%
    background-image: url(https://images.pexels.com/photos/1313809/pexels-photo-1313809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    background-size: cover

.banner-filter
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: rgba(0, 0, 0, .5)
    color: white

    h3
        margin-bottom: 20px